<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="text-center lead">Check The Latest Products On The Products Page </h1> 
      
      <p class="text-center">For The Latest ,Freshest Fits</p>  
    <img src="https://ae01.alicdn.com/kf/HTB1EPOTJXXXXXaBXVXXq6xXFXXXI/Yellow-Black-Summer-Backless-Sexy-Maxi-Long-Dress-Women-Floor-Length-Cocktail-Vestido-De-Festa-Longo.jpg" alt="womeninablackdress" class="welcomepic">    
       
      
    </div>
  </div>
  
  
    